In [2]:
import os
import pandas as pd

In [3]:
path = os.getcwd()
teste = pd.read_csv(path + "/dfs_by_report/ativo/legado/199412_Ativo.csv", skiprows = 4, encoding="utf-8", sep = ";")

In [5]:
teste.head()

,3,BANESPA,I,2,2,12/1994,25.935.301,741.275,1.656.050,9.214.586,488.992,7.955,11.909.867,-208.008,690.565,57.379,4.953,1.371.686,Unnamed: 18
0,4,BRADESCO ...,I,3.0,2,12/1994,18.341.244,575.989,720.790,1.529.760,3.285.616,11.491,7.474.975,-161.309,1.565.076,14.135,25.269,3.263.737,NaN
1,5,ITAU ...,I,3.0,2,12/1994,13.763.029,997.284,1.009.863,735.044,2.371.553,6.633,5.212.803,-37.857,1.043.898,31.446,0,2.374.015,NaN
2,6,BAMERINDUS ...,I,3.0,2,12/1994,11.849.654,210.231,1.167.932,1.131.055,1.710.622,3.124,5.125.593,-8.834,1.272.931,32.812,57.757,1.146.422,NaN
3,7,UNIBANCO ...,I,5.0,2,12/1994,10.134.063,625.221,903.672,1.423.836,782.527,4.666,4.475.333,-73.163,1.006.896,14.266,15.240,952.247,NaN
4,8,SAFRA ...,I,3.0,2,12/1994,6.018.190,49.304,1.295.341,1.436.242,199.789,1.108,1.985.997,-46.168,813.400,4.111,0,279.067,NaN